name: butter_chat_example
description: Example app for butter_chat.
publish_to: none

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  butter_chat: any

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
