name: smooth_carousel_example
description: Example app for smooth_carousel.
publish_to: none

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  smooth_carousel: any

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
