name: smooth_error_example
description: Example app for smooth_error.
publish_to: none

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  smooth_error: any

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
